.DS_Store
*.pyc
*.komodoproject
._*
.idea
.vscode/
typings/
node_modules/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
.floo
.flooignore
builtAssets/
pm2.js
*.env
pids
logs
results
tmp
.git
npm-debug.log
*.iml
Thumbs.db
bower_components
main.css
bundle.js
coverage
.remote-sync.json

server/*.bundle.js
public/js/bundle*

*.map

.meteor/local
.meteor/meteorite

media/
settings-dev.json
settings.json
settings-test.json
*.sublime-project
*.sublime-workspace
lib/tern/*
dump/*
pm2-meteor.json
